*:has(table) {
	overflow: auto;
}

mark {
	padding: 0;
}

summary {
	min-height: 1.25em;
}

summary>*:first-child {
	flex: 1;
}

table ul,
table li {
	list-style: none;
	padding: 0;
	margin: 0
}

table ul {
	display: flex;
	flex-wrap: wrap;
	gap: 1ch;
}

table li:not(:last-child)::after {
	content: ','
}

.money::before {
	content: '$';
}

.positive {
	color: var(--pico-ins-color);
}

.negative {
	color: var(--pico-del-color);
}
