fieldset {
  padding: 0.5em;
}

fieldset:last-child {
  margin-bottom: 0;
}

.HeaderSelect {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    "a b c"
    "d d d";
  gap: 0.5em;
}

.HeaderSelect > ul {
  grid-area: d;
}
