*:has(>table) {
	overflow: auto;
}

mark {
	padding: 0;
}

summary {
	display: flex;
	min-height: 1.25em;
}

summary>*:first-child {
	flex: 1;
}

table ul,
table li {
	list-style: none;
	padding: 0;
	margin: 0
}

table ul {
	display: flex;
	flex-wrap: wrap;
	gap: 1ch;
}

table li:not(:last-child)::after {
	content: ','
}

header h2 {
	display: flex;
	gap: 1em;
	align-items: baseline;
}

header h2>*:first-child {
	flex: 1 0;
}

[data-money]::before {
	content: '$';
}

[data-positive] {
	color: var(--pico-ins-color);
}

[data-negative] {
	color: var(--pico-del-color);
}
