fieldset {
  padding: 0.5em;
}

fieldset:last-child {
  margin-bottom: 0;
}

.HeaderSelect {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    "a b c"
    "d d d";
  gap: 0.5em;
}

.HeaderSelect > ul {
  grid-area: d;
}

.Match {
  background-color: rgba(255, 255, 0, 0.2);
}

.TagFieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Tags button {
  width: 1.5em;
  height: 1.5em;
  padding: 0.25em;
  margin: 0;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.Tags ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0.25em;
  flex-wrap: wrap;
}

.Tags li {
  list-style-type: none;
  display: flex;
  gap: 0.25em;
  align-items: center;
  flex-shrink: 1;
  border: 1px solid rgb(42, 49, 64);
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5.25px;
}
